@charset "UTF-8";
@media(max-width: 968px){  /* deixando responsivo */
    footer{
        flex-direction: column; 
    } 
    #redSoc{
        width: 250px;
        text-align: left;
        padding: 80px 0 0 1px;
 
    }
    #cont{
        width: 250px;
        text-align: left;
    }
    #h{
        padding-left: 0px;
    }
    #diver{
        width: 250px;
        text-align: left;
    }
    .div:nth-child(3){ 
        width: 100%;
        text-align: left;
    }
    .cen{ 
        text-align: center;
        padding: 2px;
    }
    #pad, #pa{
        padding-left: 90px;
    }
}   

:root{
    --cor0:#0B0B0D;
    --cor1:#1C8C58;
    --cor2:#DB720B;
    --cor3:#9e5f48;
    --cor4:#733924;
    --cor5: #fff;
    
    --fot-log: Adri, serif;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: var(--cor0); 
    background-attachment: fixed;
    display: flex;  
    min-height: 350px;  
} 
footer > div > h3 {
    color: var(--cor5);
    padding: 15px;
}
footer a{                /* deixando responsivo */
    color: var(--cor5);
    /* font-size: 1.3em; */
}
.di{                    /* deixando responsivo */
   width: 32.5vw;
}
.div:nth-child(3){      /* deixando responsivo */
    width: 400px;
}
.list{
    list-style: none;
}
#logo{
    margin: 20px 0 20px -20px;
}
#redSoc{   
    text-align: left;
    text-indent: 50px;  
}
#redSoc a:hover{
    color: var(--cor2);
    font-weight: 600;
}
#cont{
    color: var(--cor5);   
    text-align: center;
    margin-top: 120px;
}
#tel{
    font-size: 1.5em;
    font-weight: 500;
}
#tel img{
    height: 29px;
}
#diver{   
    text-align: right;   
    margin-top: 120px;
    padding-right: 0 25px 15px 0;
}
#diver a:hover{
    color: var(--cor2);
    font-weight: 600;
}
.ico{
    padding-right: 10px;
}
#pad, #pa{
    padding-right: 10px;
}




